@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --ti-cursor-color: white;
}

body {
  font-family: 'VT323', monospace;
  color: #ffffff;
}

* {
  scroll-behavior: smooth !important;
}

#preloader {
  background: #1e1e1e url('./assets/start.gif') no-repeat center center;
  height: 100vh;
  background-size: 15%;
  width: 100%;
  position: fixed;
  z-index: 50;
}
#loadingText {
  position: fixed;
  font-size: 3rem;
  top: 70%;
  width: 100%;
  text-align: center;
}
